
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px;
}
  
 
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



body {  
    margin: 0px;
    background-color: #000000;
}



@keyframes animateBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0px 20px;
    }
  }
html {
    scroll-behavior:smooth;
}


#navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2%;
    list-style-type: none;
    padding: 0;
    margin: 0%;
  }

  #navbar a:hover {
    color: #e4a908;
  }


  #navbar {
    padding:20px;
    border: transparent solid 1px;
    border-radius: 5px;
    background-image: linear-gradient( 150deg,#141313a9,#1e1f1fa8);
    position: sticky;
    top: 0;
    z-index: 100;
  } 
  
  #navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    
}

#navbar li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border-radius: 5%;
    background-color: rgba(51, 49, 49, 0.897);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid transparent;
    border-radius: 5px;
   
  }
  
  #navbar a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    transition: text-decoration 0.3s ease;
  }
  
  #navbar a:hover {
    text-decoration: underline;
    background-color: #000000;
  }



#main{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    background-image: url(world-map-background.svg);
    background-color: #030303;
    background-size: 100%;

    }

.base-image{
    transform: translateY(-50px);
    border: 5px solid white;
    border-radius: 50%;
    background: radial-gradient(#24241d, #000000);
    width: 50%;
    max-width: 500px;
}


#myself {
    background-image: linear-gradient( 150deg,#000000,#1d1f1f);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

#myself #myself-text {
    float: left;
    padding: 0% 10% 250px 10%;
}


#projects{
    display: flex;
    flex-wrap: wrap;
    padding: 0% 15% 150px 15%;
    background-color:black;
    background-image: radial-gradient(rgba(51, 49, 49, 0.897) 2px, transparent 2px);
    background-size: 20px 20px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17rem;
    width: 17rem;
    margin: auto;
    vertical-align: middle;
    margin-bottom:2rem;
    border-radius:5%;
    transform: translateY(-50%);
    background-image: linear-gradient(to top right, rgb(19, 14, 14), rgb(71, 70, 70));
    transition:image 0.3s ease;
    transition: background-image 0.3s ease, height 0.3s ease, width 0.3s,margin 0.3s,font-size 0.3s,color 0.3s ease, font-size 0.3s ease;
    overflow: hidden; 
    align-items: center; 
    justify-content: center; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: azure;   
}

.box:hover{ 
    background-image: linear-gradient(to bottom left, rgb(236, 221, 9), rgb(71, 70, 70));
    height: 19rem;
    width: 19rem;
    margin-bottom: 0rem;
    color: #000000;
    box-shadow: 0px 0px 20px rgba(223, 236, 231, 0.726);
}

.box p{
    font-size: 0px;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
}

.box:hover svg{
    width: 0px;
    height: 0px;
}

.box:hover p{
    margin: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: #000000 dotted 2px;
    border-radius: 30px;
    font-size: 15px;
    text-align: center;    
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
}

.box:hover h2{
    font-size: 0px;
}

#links-pic{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: auto;
    vertical-align: middle;
    gap: 100px;
}

#links-pic img{
    width: 17rem;
    height: 20rem;
    border: 0px transparent solid;
    border-radius: 5%;
}

#wanna-connect{
    width: 19rem;
    height: 27rem;
    border:rgb(255, 255, 255) solid 5px;
    border-radius: 10%;
    
}

#last{
    background-image: linear-gradient(-45deg,rgb(10, 10, 8), rgb(0, 0, 0));
    
}
.headings{
    font-size: 60px;
    color: yellow;
    font-weight: 900;
}
#myself-text{
    background-image: radial-gradient(to top right, rgb(46, 45, 45), rgb(255, 255, 255));
}

a{
    color: rgb(251, 255, 0);
    text-decoration: none;
    font-weight: 900;
    font-size: 30px;
    transition: color 0.3s ease;
}

a:hover{
    color: rgb(255, 136, 0);
}
#credit{
    border-radius: 8px;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
}

#credit h2{
    transition:color 0.4s ease;
}

#credit h2:hover{
    color: rgba(243, 83, 83, 0.9);
}

.social-links {
    display: flex;
    justify-content: center;
    gap:15px;
}

.social-links img {
    filter: invert(1);
    width:20px;
}

#inspiration{
    background-color: #353941;
}

#inspiration h4{
    padding-top: 5px;
}

#youtube a{
    padding-bottom: 0%;
}

#youtube{
    display: flex;
    justify-content: center;
    width: 20px;
    filter: invert(1);
    margin-top: 0%;
    margin-left: 49%;
    transform: translateY(-15px);
}

#youtube img{
    width:20px;
}

#wanna-connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    max-width: 400px; 
    margin: 10% auto; 
   
}
.text-box{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-weight: 500;
    margin: 10px;
    background-color: rgb(19, 14, 14);
}

button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    
}
btn:hover{
    background: #0f0f0f
}
