body{
    margin: 0px;
}

#main{
display: flex;
flex-direction: column;
align-items: center;

mix-blend-mode: color;
padding-top: 10%;
background-color: #353941;
}

#main{
    object-fit: cover;
    max-width: 100%;
}

img{
    object-fit: cover;
    max-width: 100%;
}

#myself {
    
    background-image: linear-gradient( 150deg,#000000,#1d1f1f);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

#myself #myself-text {
    float: left;
    padding: 10% 10% 250px 10%;
}


#projects{
    display: flex;
    flex-wrap: wrap;
    padding: 0% 15% 200px 15%;
    background-color:black;
    background-image: radial-gradient(rgba(51, 49, 49, 0.897) 2px, transparent 2px);
    background-size: 20px 20px; 
}

.box{
    display: flex;
    float:left;
    height: 17rem;
    width: 17rem;
    margin: auto;
    vertical-align: middle;
    margin-bottom:2rem;
    border-radius:5%;
    transform: translateY(-50%);
    background-image: linear-gradient(to top right, rgb(19, 14, 14), rgb(71, 70, 70));
    transition:image 0.3s ease;
    transition: background-image 0.3s ease, height 0.3s ease, width 0.3s,margin 0.3s,font-size 0.3s,color 0.3s ease;
    overflow: hidden; 
    align-items: center; 
    justify-content: center; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: azure;
}



.box:hover{
    background-image: linear-gradient(to bottom left, rgb(236, 221, 9), rgb(71, 70, 70));
    height: 19rem;
    width: 19rem;
    margin-bottom: 0rem;
    color: #000000;
    text-decoration: underline 3px;
    box-shadow: 0px 0px 20px rgba(223, 236, 231, 0.726);
}

#links-pic{
    display: flex;
    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

#links-pic img{
    position: relative;
    width:15rem;
    height:20rem;
    float: left;
    margin: 10% 10% 5% 10%;
    border: 0px transparent solid;
    border-radius: 5%;
    box-shadow: 0px 0px 10000000000000px rgb(73, 73, 72);

}

#wanna-connect{
    position: relative;
    float:right;
    width:25rem;
    height:25rem;
    margin: 10% 15% 10% 15%;
    border:rgb(255, 255, 255) solid 5px;
    
}

#last{
    background-image: linear-gradient(-45deg,rgb(10, 10, 8), rgb(0, 0, 0));
}
.headings{
    font-size: 60px;
    color: yellow;
    font-weight: 900;
    
}
a{
    text-decoration: none;
    color: yellow;
    font-weight: 900;
    font-size: 30px;
    transition: color 0.3s ease;
}

a:hover{
    color: rgb(6, 6, 165);
}